meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no')
  
title= TITLE ? `${TITLE}｜${SITENAME}` : `${SITENAME}｜${DESCRIPTION}`
meta(name='keywords' content= KEYWORDS)
meta(name='description' content= DESCRIPTION)
  
link(rel='shortcut icon' type='image/x-icon' href=`${PATH}/images/favicon.ico`)

meta(property='og:title' content= TITLE)
meta(property='og:site_name' content= SITENAME)
meta(property='og:description' content= OG.DESCRIPTION ? OG.DESCRIPTION : DESCRIPTION)
meta(property='og:url' content= URL)
meta(property='og:image' content= OG.IMAGE)
meta(property='og:type' content= OG.TYPE)
meta(property='og:locale' content= OG.LOCALE)
meta(property='fb:app_id' content= OG.APP_ID)

meta(name='twitter:card' content= TW.CARD)
meta(name='twitter:site' content= TW.SITE)
meta(name='twitter:domain' content= TW.DOMAIN)
meta(name='twitter:url' content= URL+'?share=tw')

if CANONICAL
  link(rel='canonical' href= CANONICAL)
